*{
    padding: 0px;
    margin: 0px;
}
.btn-primary{
    border-radius: 5px;
    background-color: firebrick;
    padding: 10px 30px;
    cursor: pointer;
    outline: none;
    border: 0;
    font-size: 20px;
    color: white;
    font-weight: 700;
    margin-top: 20px;

}
.banner{
    padding: 30px 30px 0px 150px;
    background-color: rgb(128, 126, 126);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 800px;
    flex-shrink: 0;
}
.banner-title{
    font-size: 40px;
}
.para{
    font-size: 20px;
}
.div-title{
    text-align: center;
    margin: 100px;
    font-size: 25px;
}
.div-des{
    font-size: 15px;
    color: grey;
    font-style: normal;
}
.flower{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.img{
    border-radius: 400px 400px 0px 0px;
    background-color: rgb(212, 195, 173);
    margin: 0px;
    margin-top: 100px;
}
/*bouns-part*/

.bonus-part{
    display: flex;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 100px;
    padding: 50px;
}
.name{
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 35px; 
}
/*hot deal*/ 

.Hot-Deal{
    display: flex;
    align-items: center;
    background-color: cornsilk;
    margin-top: 100px;
    border-radius: 8px;
    background-size: 1922px 620px;
    flex-shrink: 0;
    justify-content: center;
}
.off{
    color: red;
}
.font{
    font-size: 40px;
    padding-bottom: 20px;
}
/*Instagram*/
.instagram{
    align-items: center;
    margin-top: 100px;
    margin-bottom: 30px;
}
.ins{
    font-size: 18px;
    color: rgb(116, 112, 112);
}
.insta{
    padding: 20px;
    font-size: 40px;
}
.insta-img{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px;
    justify-content: center;
}
/*Get The Latest Deals*/
.btn{
    border-radius: 5px;
    background-color: rgb(230, 227, 227);
    padding: 10px 30px;
    cursor: pointer;
    outline: none;
    border: 0;
    font-size: 20px;
    color:grey;
    font-weight: 700;
    margin-top: 20px;
}


.footer-des{
    background-color: black;
    width: 100%;
    height: 400px;
    text-align: center;
    font-weight: 400px;

}
.footer-title{
    color: whitesmoke;
    margin: 0px;
    padding: 50px;
    font-size: 48px;

}
.footer-des{
    text-align: center;
}
.f-des{
    color: whitesmoke;
    align-items: center;
    margin: 20px;
}
.copy{
    color: whitesmoke;
    align-items: center;
}